.app {
  min-height: 100vh;
}

:root {
  --error-color: #ff6161;
}

body {
  font-family: "Roboto", sans-serif;
}

.error-text {
  color: var(--error-color);
  font-size: 10px;
}

.error-input {
  border: 1px solid var(--error-color);
}

#root > div {
  padding: 16px;
  gap: 24px;
  border-radius: 16px;
  background: rgba(255, 255, 255, 1);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
