.registration {
  margin: 10% 30%;

  top: 253px;
  left: 470px;
  padding: 16px;
  gap: 24px;
  border-radius: 16px;
  background: rgba(255, 255, 255, 1);
}

.registration > form {
  width: 468px;
  height: 415px;
  gap: 16px;
  opacity: 0px;
  display: flex;
  flex-direction: column;
  align-content: space-between;
}

.registration > form h2 {
  width: 468px;
  height: 23px;
  font-family: Roboto;
  font-size: 20px;
  font-weight: 400;
  line-height: 23.44px;
  text-align: left;
  color: rgba(21, 19, 23, 1);
}

.registration > form label {
  width: 468px;
  height: 22px;
  gap: 8px;
  border: 0px 1px 1px 0px;
}

.registration .password {
  position: relative;
}

.registration > form input {
  width: 94%;
  padding: 12px 8px 12px 16px;
  gap: 8px;
  border-radius: 8px;
  background: rgba(248, 248, 248, 1);
}

.registration .password-control {
  position: absolute;
  top: 11px;
  right: 6px;
  display: inline-block;
  width: 20px;
  height: 20px;
}

.registration > input {
  width: 468px;
  height: 48px;
  margin-top: 10%;
  padding: 8px 12px 8px 12px;
  gap: 10px;
  border-radius: 8px;
  background: rgba(81, 38, 137, 1);
  color: white;
}
